@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Welcome to FlowSynx Console</h1>
Web-based management console for orchestrating, executing, and monitoring workflows via the FlowSynx Workflow Automation API.