.app-header {
    background: #0b5;
    padding: 12px 18px;
    color: #012;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.content {
    padding: 16px;
}

.designer-root {
    display: grid;
    gap: 8px;
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
}

/* Canvas fills the container */
.canvas-wrap {
    width: 100%;
    height: 100%;
    background-color: var(--mud-palette-background);
    border: 1px solid var(--mud-palette-lines-default);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.palette-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.palette {
    width: 280px;
    height: 100%;
    top: 0px;
    left: 32px !important;
    background: var(--mud-palette-background);
    border: 1px solid var(--mud-palette-lines-default);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    transform: translateX(calc(-32px));
    opacity: 0.7;
    transition: transform 0.75s ease, opacity 0.5s ease;
    z-index: 29;
    position: absolute;
    padding: 4px 8px;
}

    .palette.hidden {
        transform: translateX(-32px);
        opacity: 0;
    }

    .palette.visible {
        transform: translateX(0);
        opacity: 1;
    }

.palette-toggle {
    position: absolute;
    z-index: 30;
    height: 100%;
    min-width: 12px !important;
    background: var(--mud-palette-background);
    border: 1px solid var(--mud-palette-lines-default);
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    font-weight:bold;
}

    .palette-toggle:hover {
        background: var(--mud-palette-background);
    }

.toolbar {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

#node-context-menu {
    position: absolute;
    display: none;
    background: var(--mud-palette-background);
    border: 1px solid var(--mud-palette-lines-default);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 9999;
    min-width: 120px;
    font-family: sans-serif;
}

    #node-context-menu .menu-item {
        padding: 6px 12px;
        cursor: pointer;
    }

        #node-context-menu .menu-item:hover {
            background: color-mix(in srgb, var(--mud-palette-background) 90%, var(--mud-palette-primary));
        }

.canvas-toolbar {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: var(--mud-palette-background);
    border: 1px solid var(--mud-palette-lines-default);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.drawflow-canvas {
    height: 100%;
    width: 100%;
    background-color: var(--mud-palette-background);
    background-image: linear-gradient( 0deg, transparent 24%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 25%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 26%, transparent 27%, transparent 74%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 75%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 76%, transparent 77% ), linear-gradient( 90deg, transparent 24%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 25%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 26%, transparent 27%, transparent 74%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 75%, color-mix(in srgb, var(--mud-palette-lines-default) 30%, var(--mud-palette-background)) 76%, transparent 77% );
    background-size: 64px 64px;
}

#drawflow {
    width: 100%;
    height: 100%;
}

.drawflow .drawflow-node {
    background: color-mix(in srgb, var(--mud-palette-background) 90%, black);
    border: 2px solid var(--mud-palette-lines-default);
    border-radius: 4px;
    color: var(--mud-palette-text-primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

    .drawflow .drawflow-node:hover {
        background: color-mix(in srgb, var(--mud-palette-background) 90%, var(--mud-palette-primary));
        border-color: var(--mud-palette-lines-default);
    }

    .drawflow .drawflow-node.selected {
        background: color-mix(in srgb, var(--mud-palette-background) 80%, var(--mud-palette-primary));
        border: 2px solid var(--mud-palette-primary-lighten);
    }

.drawflow .connection .main-path {
    stroke: var(--mud-palette-lines-default);
    stroke-width: 3px;
    fill: none;
    transition: stroke 0.2s ease-in-out;
}

    .drawflow .connection .main-path:hover {
        stroke: color-mix(in srgb, var(--mud-palette-background) 60%, var(--mud-palette-primary));
    }

    .drawflow .connection .main-path.selected {
        stroke: var(--mud-palette-primary);
    }

.drawflow .title-box {
    padding: 3px;
    border-radius: 5px;
}